{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

     <title>Knowlege Coaching classes</title>
     <!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
     <link rel="stylesheet" href="{% static 'css/test.css' %}">
     <style>
          .hello-msg {
               font-size: 18px;
               color: #fff;
               margin-right: 20px;
               ;
          }
     </style>
</head>

<body>

     <!-- PRE LOADER -->
     <!-- <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>-->


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="{% static 'index.html' %}" style="color: black" class="navbar-brand">Knowledge Coaching
                         classes</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul  class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="">Home</a></li>
                         <li><a href="#about" class="">About</a></li>
                         <li><a href="#team" class="">Our Team</a></li>
                         <li><a href="#testimonial" class="">Testimonials</a></li>
                         <li><a href="#results" class="">Our Results</a></li>
                         <li><a href="#contact" class="">Contacts</a></li>
                         {% if request.user.is_staff %}
                         <li><a href="{% url 'dashboard' %}" class="">admin</a></li>
                         {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                         {% if request.user.is_authenticated == False %}
                         <li class="section-btn"><a href="{% url 'register' %}">Sign in /
                                   Join</a></li>
                         {% else %}
                         <span class="hello-msg"> Hello,{{request.user}}</span>
                         <span class="hello-msg"><a class="section-btn" href="{% url 'logout' %}">Logout</a></span>
                         {% endif %}
                    </ul>
               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>We make student's future better by building his foundation strong.</h1>
                              <a href="#contact" class="btn section-btn">Join our classes</a>
                              <span>
                                   CALL US (+91) 010-020-0340
                                   <small>For any inquiry</small>
                              </span>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="home-video">
                              <div class="embed-responsive embed-responsive-16by9">
                                   <iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0"
                                        allowfullscreen></iframe>
                              </div>
                              <div class="home-info">
                                   <center>
                                        <h3 style=" color: white;">Watch our Demo lectures</h3>
                                   </center>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-6">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>Let us introduce Ourself</h2>

                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                   incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="about-info skill-thumb">
                              <div><br>
                                   <strong>Science</strong>
                              </div>

                              <div><br>
                                   <strong>Maths</strong>

                              </div>
                              <div><br>
                                   <strong>English</strong>
                              </div>
                              <div> <br>

                                   <strong>Sanskrit</strong>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="about-image">
                              <img src="{% static 'images/about-image.jpg' %}" class="img-responsive" alt="">
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Teachers <small>Meet Our Facaulties</small></h2>
                         </div>
                    </div>
                    {% for teacher in teachers %}
                    <div class="col-md-3 col-sm-6">
                         
                         <div class="team-thumb">
                              <div class="team-image">
                                   
                                   <img src="{{teacher.profile_pic.url}}" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">

                                   <h3>{{teacher.name}}</h3>
                                   <span>{{teacher.subject}}</span>
                                   <span>{{teacher.education}}</span>
                                   
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                              
                         </div>
                         
                    </div>
                    {% endfor %}
                    
                         
                    
                    
               </div>

              

          </div>
          
     </section>



     <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Our Students Say about us </h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-client">
                              {% for i in testinomials %}
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{{i.test_pic.url}}" class="img-responsive"
                                                  alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>{{i.name}}</h4>
                                             <span>{{i.result}}</span><br><span>{{i.achive}}</span>
                                        </div>
                                        <p>{{i.written}}</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>
                              {% endfor %}

                              
                              

                         </div>

                    </div>
               </div>
     </section>
     <section id="results">

          <div class="container">
               <h2>Result Photos</h2>
               <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                   
                    <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"></li>
                         <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                   
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        
                         {% for p in resultsliders %}
                         <div class="item  {% if forloop.counter0 == 0 %} active{% endif %}" data-interval="100">
                              
                              <img src="{{p.result_pic.url}}" alt="{{id}}" style="width:100%;">
                              <div class="carousel-caption">
                                   <h3 style="color: white;">{{p.yr}}</h3>
                                   <p></p>
                              </div>
                         
                         </div>
                    

                    
                    {% endfor %}

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                         <span class="glyphicon glyphicon-chevron-left"></span>
                         <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                         <span class="glyphicon glyphicon-chevron-right"></span>
                         <span class="sr-only">Next</span>
                    </a>
               </div>
          </div>



     </section>

     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-4 col-sm-12">
                         <div class="section-title">
                              <h2>Address</h2>
                              <span>
                                   <h3 style="color: white;">Shivnagar,Old Jalna,Jalna</h3>
                              </span>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                         <div class="section-title">
                              <h2>Call us</h2>
                              <span>
                                   <h3 style="color: white;">(+91) 010-020-0340</h3>
                              </span>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                         <div class="section-title">
                              <h2>Connect with us</h2>
                              <span>
                                   <h3 style="color: white;">
                                        <ul class="social-icon">
                                             <li><a href="https://www.facebook.com/templatemo"
                                                       class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                             <li><a href="#" class="fa fa-instagram"></a></li>
                                        </ul>
                                   </h3>
                              </span>
                         </div>
                    </div>
               </div>
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Contact us</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    <div class="col-md-8 col-sm-8">

                         <!-- CONTACT FORM HERE -->
                         {% if name %}
                         <center>
                              <h2>Thanks {{ name }}</h2>
                              <p>We recieved yor email and will respond shortly..</p>
                         </center>
                         {% else %}
                         <form id="contact-form" role="form" action="#" method="post">
                              {% csrf_token %}
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" class="form-control" placeholder="Full Name" id="cf-name"
                                        name="name" required="">
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="email" class="form-control" placeholder="Your Email" id="cf-email"
                                        name="email" required="">
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="phone" class="form-control" placeholder="Your Phone" id="cf-number"
                                        name="phone" required="">
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <select class="form-control" id="cf-class" name="yclass" type=select>
                                        <option>Your class</option>
                                        <option>5th</option>
                                        <option>6th</option>
                                        <option>7th</option>
                                        <option>8th</option>
                                        <option>9th</option>
                                        <option>10th</option>
                                   </select>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="6" placeholder="Enquiry in detail"
                                        id="cf-message" name="content" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="submit" value="Send Message">
                              </div>

                         </form>
                         {% endif %}

                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="google-map">
                              <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
                              <iframe
                                   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945"
                                   allowfullscreen></iframe>
                         </div>
                    </div>

               </div>


     </section>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>Abhijaat Coaching Classes</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                   incididunt ut labore et dolore magna aliqua.</p>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Classes</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>

                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Subjects </h2>
                              <ul class="footer-link">
                                   <li><a href="#">Science</a></li>
                                   <li><a href="#">Maths</a></li>
                                   <li><a href="#">English</a></li>
                                   <li><a href="#">Sanskrit</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Find us</h2>
                              <p> Vivek Sadan <br> Shivnagar Old Jalna</p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2020 Your Company</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call us <span>(+91) 010-020-0340</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square"
                                                  attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>














     <!-- SCRIPTS -->
     <script src="{% static 'js/custom.js' %}"></script>
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>

     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/test.js' %}"></script>
</body>

</html>