<!DOCTYPE html>
<html>
	<head >
		<title>Login to Dr. Medico</title>
	

    <link href="logincs.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

	</head>
	<body>


<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>

			<span>and Join with us</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<input type="number" placeholder="Age" />

			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>

			
			<input type="text" name="username" placeholder="Username..." />
			<input type="password" name="password" placeholder="Password..." />
						<a href=""{% url 'reset_password' %}" class">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" >Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp"  href="{% url 'register' %}">Sign Up</button>
			</div>
		</div>
	</div>
</div>

 <script src="loginjs5.js"></script>
</body>
</html>
